:root {
  /*
   * Almond CSS Theming 
   */
  /* Primary Color -> hsl(210,50,40) */
  --primaryH: 210;
  --primaryS: 50%;
  --primaryL: 40%;
  /* Secondary Color -> hsl(201,51,69) */
  --secondaryH: 210;
  --secondaryS: 51%;
  --secondaryL: 69%;
  /* Other Parameters */
  --primary-bg: #efefef;
  --secondary-bg: #1c2128;
  --input-bg: #1c2128;
  --font-color: #efefef;
  --font-family: 'Courier New', Courier, monospace;
  --font-size-root: calc(12px + 0.2vw);
  --font-weight-normal: 400;
  --border-radius: 0.25rem;
  --heading-margin: 1.5rem 0 3rem;
  /* Fixes */
  --primary-lighter: hsl(var(--primaryH), var(--primaryS), 30%);
  --secondary-lighter: hsl(var(--secondaryH), var(--secondaryS), 15%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: var(--font-color);
}

input[type="text"], textarea {
  background-color: var(--input-bg); 
}

textarea {
  min-width: 95%;
  min-height: 20vh;
  background-color: black;
}

table {
  margin-top: 10%;
  margin-bottom: 10%;
}

table>caption {
  font-size: calc(var(--font-size-root) + 8px);
  font-weight: calc(var(--font-weight-normal) + 200);
  margin-bottom: 2%;
}

.container {
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

.error {
  color: rgb(28, 94, 133);
}

.success {
  color: #11a000;
}

.information {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.loading {
  max-width: 8rem;
  max-height: 8rem;
  margin-top: 1rem;
}

/* Desktop Styles */
@media (min-width: 75rem) {
  * {
    font-size: 20px;
  }

  .container {
    width: 45rem;
  }
}
