:root {
  /* Almond CSS Theming */
  --primary-bg: #efefef;
  --secondary-bg: #1c2128;
  --input-bg: #1c2128;
  --font-color: #efefef;
  --font-family: 'Courier New', Courier, monospace;
  --font-size-root: 16px;
  --font-weight-normal: 400;
  --border-radius: 0.25rem;
  --heading-margin: 1.5rem 0 3rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--font-color);
}

input[type="text"], textarea {
  background-color: var(--input-bg); 
}

.container {
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

.error {
  color: red;
}

.success {
  color: #11a000;
}

/* Desktop Styles */
@media (min-width: 75rem) {
  * {
    font-size: 20px;
  }

  .container {
    width: 45rem;
  }
}
